body {
    text-align: center;
    color: white;
    font-size: 40px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
img {
    opacity: 0.6;
}

h1 {
    text-align: center;
    color: #bbe2f9;
}
.loginBar{
    text-align:right;
}
